# Env files
.env
.env.backup
.env.production

##node_modules
node_modules

# Logs
src/storage/logs/*
!src/storage/logs/.gitkeep

# Storage
src/storage/category/image/*
!src/storage/category/image/.gitkeep

src/storage/customer/profile/*
!src/storage/customer/profile/.gitkeep

src/storage/product/image/*
!src/storage/product/image/.gitkeep

src/storage/product/thumbnail/*
!src/storage/product/thumbnail/.gitkeepnode_modules/
node_modules/
